{% extends 'base_admin.html.twig' %}


{% block filter %}

    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Фильтр
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    {% set currentFilterValues = filter %}

                    <div class="x_content">
                        <form class="" method="get">
                            <div class="form-group col-md-3">
                                <label for="name">
                                    Id водителя
                                </label>
                                <input type="text" id="id" name="id" class="form-control" placeholder="" value="{{ currentFilterValues.id ? currentFilterValues.id : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="phone">
                                    Телефон
                                </label>
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="" value="{{ currentFilterValues.phone ? currentFilterValues.phone : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name">
                                    Имя
                                </label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="" value="{{ currentFilterValues.name ? currentFilterValues.name : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="region">
                                    Город
                                </label>
                                <select class="form-control" name="cityId">
                                    <option value="0">Все</option>
                                    {% for city in citiesList %} 
                                        <option value="{{ city.getId() }}" {{ currentFilterValues.city == city.getId() ? 'selected' : '' }}>
                                            {{ city.getName() }}
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>

                            <div class="form-group pull-right">
                                <input type="submit" class="btn btn-default" value="Фильтровать" />
                                <a href="{{ path('admin_carriers_list') }}"  class="btn btn-info">
                                    Сбросить
                                </a>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block body %}

    <div class="">

        <div class="row">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Перевозчики
                        </h2>

                        <div class="navbar-right panel_toolbox">

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="regions-list-table" class="table table-striped jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">
                                            #
                                        </th>
                                        <th class="column-title">
                                            Имя
                                        </th>
                                        <th class="column-title">
                                            Телефон
                                        </th>
                                        <th class="column-title">
                                            Фото профиля
                                        </th>
                                        <th class="column-title">
                                            Фото авто
                                        </th>
                                        <th class="column-title">
                                            Город
                                        </th>
                                        <th class="column-title">
                                            Окончание активации
                                        </th>
                                        <th class="column-title">
                                            Заблокирован?
                                        </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Действия</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, carrier in list %}
                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">
                                            <td >
                                                {{ carrier.getId() }}
                                            </td>
                                            <td >
                                                {{ carrier.getUsername() }}
                                            </td>
                                            <td >
                                                {{ carrier.getPhone() }}
                                            </td>
                                            <td >
                                                {% if carrier.getImageProfile()  %}
                                                    <img src="/carriersapp/bundles/carriers/{{ carrier.getImageProfile() }}" />
                                                {% endif %}                                               
                                            </td>
                                            <td >
                                                {% if carrier.getImageAuto()  %}
                                                    <img src="/carriersapp/bundles/carriers/{{ carrier.getImageAuto() }}" />
                                                {% endif %}   
                                            </td>
                                            <td >
                                                {{ carrier.getCity().getName() }}
                                            </td>
                                            <td >
                                                {{ carrier.getExpireDate().format('H:i:s d-m-Y') }}
                                            </td>
                                            <td>
                                                {{ carrier.isEnabled() ? 'Нет' : 'Да' }}
                                            </td>
                                            <td class=" no-link last">
                                                {% if carrier.isEnabled() %}
                                                    <a href="#" class="btn btn-danger source"  data-toggle="modal" data-target=".lock-modal-lg" data-carrier="{{ carrier.getId() }}">
                                                        Забл.
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="btn btn-info source"  data-toggle="modal" data-target=".unlock-modal-lg" data-carrier="{{ carrier.getId() }}">
                                                        Разбл.
                                                    </a>
                                                {% endif %}
                                                <a href="#" class="btn btn-success source"  data-toggle="modal" data-target=".act-modal-lg" data-carrier="{{ carrier.getId() }}">
                                                    +1 месяц
                                                </a>
                                                <a href="#" class="btn btn-warning source"  data-toggle="modal" data-target=".deact-modal-lg" data-carrier="{{ carrier.getId() }}">
                                                    Деакт.
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}

    <div class="modal fade lock-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Заблокировать перевозчика</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите заблокировать перевозчика?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger js-togglelock" data-dismiss="modal">Заблокировать</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade unlock-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Разблокировать перевозчика</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите разблокировать перевозчика?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning js-togglelock" data-dismiss="modal">Разблокировать</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade act-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Продление активации перевозчика на 1 месяц</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите продлить активацию перевозчика на 1 месяц?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success js-act" data-dismiss="modal">
                        Продлить
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade deact-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Деактивации перевозчика</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите деактивировать перевозчика?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success js-deact" data-dismiss="modal">
                        Деактивировать
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            // модальное окно формы добавления региона
            $('.modal')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);
                        if (button.data('carrier'))
                        {
                            $(this).data('carrier', button.data('carrier'));
                        }
                    });

            // мдальное окно формы добавления региона
            $('.modal').find('.js-togglelock')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);
                        var modal = $(this).parents('.modal').first();

                        var href = '{{ path('admin_carriers_ajax_togglelock') }}';
                        href += '?userId=' + modal.data('carrier');

                        $.get(href, function (data) {
                            location.reload();
                        });
                    });
                    
            $('.modal').find('.js-act')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);
                        var modal = $(this).parents('.modal').first();

                        var href = '{{ path('admin_carriers_ajax_activate') }}';
                        href += '?userId=' + modal.data('carrier');

                        $.get(href, function (data) {
                            location.reload();
                        });
                    });
                    
            $('.modal').find('.js-deact')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);
                        var modal = $(this).parents('.modal').first();

                        var href = '{{ path('admin_carriers_ajax_deactivate') }}';
                        href += '?userId=' + modal.data('carrier');

                        $.get(href, function (data) {
                            location.reload();
                        });
                    });


        });
    </script>

{% endblock %}

