{% extends 'base_admin.html.twig' %}


{% block filter %}

    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Фильтр
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    {% set currentFilterValues = filter %}

                    <div class="x_content">
                        <form class="" method="get">
                            <div class="form-group col-md-3">
                                <label for="name">
                                    Id водителя
                                </label>
                                <input type="text" id="id" name="id" class="form-control" placeholder="" value="{{ currentFilterValues.id ? currentFilterValues.id : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="phone">
                                    Телефон
                                </label>
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="" value="{{ currentFilterValues.phone ? currentFilterValues.phone : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name">
                                    Имя
                                </label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="" value="{{ currentFilterValues.name ? currentFilterValues.name : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="region">
                                    Город
                                </label>
                                <select class="form-control" name="cityId">
                                    <option value="0">Все</option>
                                    {% for city in citiesList %} 
                                        <option value="{{ city.getId() }}" {{ currentFilterValues.city == city.getId() ? 'selected' : '' }}>
                                            {{ city.getName() }}
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>

                            <div class="form-group pull-right">
                                <input type="submit" class="btn btn-default" value="Фильтровать" />
                                <a href="{{ path('admin_carriers_list') }}"  class="btn btn-info">Сбросить</a>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block body %}

    <div class="">

        <div class="row">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Перевозчики
                        </h2>

                        <div class="navbar-right panel_toolbox">

                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="regions-list-table" class="table table-striped jambo_table">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">
                                            #
                                        </th>
                                        <th class="column-title">
                                            Имя
                                        </th>
                                        <th class="column-title">
                                            Телефон
                                        </th>
                                        <th class="column-title">
                                            Фото профиля
                                        </th>
                                        <th class="column-title">
                                            Фото авто
                                        </th>
                                        <th class="column-title">
                                            Город
                                        </th>
                                        <th class="column-title">
                                            Окончание активации
                                        </th>
                                        <th class="column-title">
                                            Заблокирован?
                                        </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Действия</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, carrier in list %}
                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">
                                            <td >
                                                {{ carrier.getId() }}
                                            </td>
                                            <td >
                                                {{ carrier.getUsername() }}
                                            </td>
                                            <td >
                                                {{ carrier.getPhone() }}
                                            </td>
                                            <td >
                                                {% if carrier.getImageProfile()  %}
                                                    <img src="/bundles/carriers/{{ carrier.getImageProfile() }}" />
                                                {% endif %}                                               
                                            </td>
                                            <td >
                                                {% if carrier.getImageAuto()  %}
                                                    <img src="/bundles/carriers/{{ carrier.getImageAuto() }}" />
                                                {% endif %}   
                                            </td>
                                            <td >
                                                {{ carrier.getCity().getName() }}
                                            </td>
                                            <td >
                                                {{ carrier.getExpireDate().format('H:i:s d-m-Y') }}
                                            </td>
                                            <td>
                                                {{ carrier.isEnabled() ? 'Нет' : 'Да' }}
                                            </td>
                                            <td class=" no-link last">

                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block modals %}

{% endblock %}

{% block javascripts %}

{% endblock %}

