<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Перевозчик - Панель администратора {% block title %}{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        <!-- Bootstrap -->
        <link href="{{ asset('content/admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('content/admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{{ asset('content/admin/vendors/nprogress/nprogress.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('content/admin/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

        <link href="{{ asset('content/admin/vendors/google-code-prettify/bin/prettify.min.css') }}" rel="stylesheet">
        <!-- Select2 -->
        <link href="{{ asset('content/admin/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

        <!-- Switchery -->
        <link href="{{ asset('content/admin/vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">
        <!-- starrr -->
        <link href="{{ asset('content/admin/vendors/starrr/dist/starrr.css') }}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{{ asset('content/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{{ asset('content/admin/vendors/jqvmap/dist/jqvmap.min.css') }}" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('content/admin/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('content/admin/build/css/custom.min.css') }}" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="nav-md">

        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="index.html" class="site_title">
                                <i class="fa fa-car"></i> <span>Перевозчики</span>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">

                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li>
                                        <a>
                                            <i class="fa fa-home"></i> Регионы <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ path('admin_regions_list') }}">Регионы</a></li>
                                            <li><a href="{{ path('admin_cities_list') }}">Города</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-home"></i> Перевозчики <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ path('admin_carriers_list') }}">Список</a></li>
                                            <li><a href="{{ path('admin_carriers_check') }}">Модерация</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-money"></i> Платежи <span class="fa fa-chevron-down"></span>
                                        </a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ path('admin_payments_list') }}">Список платежей</a></li>
                                            <li><a href="{{ path('admin_payments_types_list') }}">Настройки</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_settings') }}">Настройки приложения</a>
                                    </li>
                                </ul>
                            </div>

                            {% block menu %}
                            {% endblock %}

                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">

                            <a title="Logout" href="{{ path('admin_logout') }}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">

                    {% block filter %}
                    {% endblock %}

                    {% block actions %}
                    {% endblock %}

                    {% block body %}
                    {% endblock %}

                    {% block pagination %}
                    {% endblock %}

                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        {% block modals %}


        {% endblock %}

        <!-- jQuery -->
        <script src="{{ asset('content/admin/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('content/admin/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('content/admin/vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ asset('content/admin/vendors/nprogress/nprogress.js') }}"></script>
        <!-- Chart.js -->
        <script src="{{ asset('content/admin/vendors/Chart.js/dist/Chart.min.js') }}"></script>
        <!-- gauge.js -->
        <script src="{{ asset('content/admin/vendors/gauge.js/dist/gauge.min.js') }}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ asset('content/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ asset('content/admin/vendors/iCheck/icheck.min.js') }}"></script>
        <!-- Skycons -->
        <script src="{{ asset('content/admin/vendors/skycons/skycons.js') }}"></script>
        <!-- Flot -->
        <script src="{{ asset('content/admin/vendors/Flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/Flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/Flot/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/Flot/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/Flot/jquery.flot.resize.js') }}"></script>
        <!-- Flot plugins -->
        <script src="{{ asset('content/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/flot.curvedlines/curvedLines.js') }}"></script>
        <!-- DateJS -->
        <script src="{{ asset('content/admin/vendors/DateJS/build/date.js') }}"></script>
        <!-- JQVMap -->
        <script src="{{ asset('content/admin/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('content/admin/vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('content/admin/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('content/admin/build/js/custom.js') }}"></script>




        {% block javascripts %}

        {% endblock %}
    </body>
</html>
