{% extends 'base_admin.html.twig' %}


{% block filter %}

    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Фильтр
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    {% set currentFilterValues = request.get('filter') ? : {} %}

                    <div class="x_content">
                        <form class="form-inline" method="get">
                            <div class="form-group col-md-3">
                                <label for="name">
                                    Название
                                </label>
                                <input type="text" id="name" name="filter[name]" class="form-control" placeholder="" value="{{ currentFilterValues.name is defined ? currentFilterValues.name : '' }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="region">
                                    Регион
                                </label>
                                <select class="form-control" name="filter[region]">
                                    <option value="all">Все</option>
                                    {% for region in regions %} 
                                        <option value="{{ region.getId() }}" {{ currentFilterValues.region is defined  and currentFilterValues.region == region.getId() ? 'selected' : '' }}>
                                            {{ region.getName() }}
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="region">
                                    Категория платежа
                                </label>
                                <select class="form-control" name="filter[paymentPackage]">
                                    <option value="all">Все</option>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {{ currentFilterValues.paymentPackage is defined  and currentFilterValues.paymentPackage == category.id ? 'selected' : '' }}>
                                            {{ category.name }}
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>

                            <div class="form-group pull-right">
                                <input type="submit" class="btn btn-default" value="Фильтровать" />
                                <a href="{{ path('admin_cities_list') }}"  class="btn btn-info">Сбросить</a>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block body %}

    <div class="">

        <div class="row">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Города
                        </h2>

                        <div class="navbar-right panel_toolbox">
                            <a href="#" class="btn btn-success source"  data-toggle="modal" data-target=".add-region-modal-lg">
                                Добавить
                            </a>
                            <a href="#" class="btn btn-danger source js-remove-region-trigger" data-toggle="modal" data-target=".remove-region-modal-lg" disabled="disabled">
                                Удалить
                            </a>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="regions-list-table" class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">
                                            #
                                        </th>
                                        <th class="column-title">
                                            Название
                                        </th>
                                        <th class="column-title">
                                            Регион
                                        </th>
                                        <th class="column-title">
                                            Категория платежа
                                        </th>
                                        <th class="column-title">
                                            Активность
                                        </th>
                                        <th class="column-title">
                                            Порядок
                                        </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Действия</span>
                                        </th>
                                        <th class="bulk-actions" colspan="6">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Действие над записями ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, city in list %}
                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records" value="{{ city.getId() }}" />
                                            </td>
                                            <td class=" ">
                                                {{ city.getId()  }}
                                            </td>
                                            <td class="">
                                                {{ city.getName()  }}
                                            </td>
                                            <td class="">
                                                {{ city.getRegion().getName()  }}
                                            </td>
                                            <td class="">
                                                {{ city.paymentPackage ? city.paymentPackage.name : 'Не определена' }}
                                            </td>
                                            <td class="">
                                                {{ city.isActive() ? 'Да' : 'Нет' }}
                                            </td>
                                            <td class="">
                                                {{ city.getOrder()  }}
                                            </td>
                                            <td class=" last">
                                                <a href="#" class="btn btn-info source "  data-toggle="modal" data-target=".add-region-modal-lg" data-region="{{ city.getId() }}">
                                                    Редактировать
                                                </a>
                                                {#  <a href="#" class="btn btn-danger source">
                                                      Удалить
                                                  </a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block modals %}

    <div class="modal fade add-region-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Добавить город</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade remove-region-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удалить город(а)</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите удалить выбранные города?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger js-remove" data-dismiss="modal">Удалить</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#regions-list-table');

            table.on('changeInput', function (event, count) {

                if (count)
                {
                    $('.js-remove-region-trigger').removeAttr('disabled');
                } else
                {
                    $('.js-remove-region-trigger').attr('disabled', 'disabled');
                }
            });

            // модальное окно формы добавления региона
            $('.add-region-modal-lg')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);

                        var href = '{{ path('admin_city_add') }}';
                        if (button.data('region'))
                        {
                            href += '?id=' + button.data('region');
                        }

                        $(this).find('.modal-body').load(href);
                    })
                    .on('hidden.bs.modal', function (event) {
                        $(this).find('.modal-body').html('');
                    });

            // модальное окно формы для удаления регионов
            $('.remove-region-modal-lg').find('.js-remove')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);

                        var href = '{{ path('admin_city_remove') }}';

                        var list = [];
                        $(".bulk_action input[name='table_records']:checked").each(function () {
                            list.push($(this).val());
                        });

                        if (list.length)
                        {
                            $.post(href, {list: list}, function (data) {
                                location.reload();
                            });
                        }
                    });


        });
    </script>

{% endblock %}

