<form id="add-form" data-parsley-validate class="form-horizontal form-label-left" 
      method="POST" action="{{ path('admin_payments_types_add') }}">

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            Длительность <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name="term">
                {% for i in [1,2,3,6,12] %}
                    <option {{ paymentType ? (paymentType.term == i ? 'selected' : '') : '' }} value="{{ i }}" >{{ i }} месяц(-а/-ев)</option>
                {% endfor %}
            </select>    
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Тип перевозчика
        </label>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" name="category">
                {% for cargo in cargoList %} 
                    <option {{ paymentType ? (paymentType.category == cargo ? 'selected' : '') : '' }} value="{{ cargo }}">
                        {{ cargo == 'cargo_over_6000' ? 'более' : 'до' }} {{ cargo|trim('cargo_over', 'left') }} кг.
                    </option>
                {% endfor %} 
            </select>
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Город
        </label>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control col-md-7 col-xs-12" name="city">
                <option  {{ paymentType and not paymentType.city ? 'selected' : '' }}  value="0">
                    Все
                </option>
                {% for city in cities %} 
                    <option  {{ paymentType ? (paymentType.city and paymentType.city.getId() == city.getId() ? 'selected' : '') : '' }}  value="{{ city.getId() }}">
                        {{ city.getName() }}
                    </option>
                {% endfor %} 

            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="value">
            Стоимость <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="value" name="value" required="required" class="form-control col-md-7 col-xs-12" value="{{ paymentType ? paymentType.value : '' }}"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>

    <div class="errors-list"></div>

    {% if paymentType %}
        <input type="hidden" name="id" value="{{ paymentType.id }}" />
    {% endif %}

</form>

<script type="text/javascript">
    $(document).ready(function () {

        // ajax добавление региона
        $('#add-form').on('submit', function (event) {

            var errorsHolder = $(this).find('.errors-list');
            errorsHolder.html('');

            event.preventDefault();

            $.post($(this).attr('action'), $(this).serialize(), function (data) {

                if (data.success == 0)
                {
                    for (var k in data.errors)
                    {
                        errorsHolder.append('<div class="alert alert-danger alert-dismissible fade in">' + data.errors[k] + '</div>');
                    }

                } else if (data.reload || true)
                {
                    location.reload();
                } else
                {
                    errorsHolder.append('<div class="alert alert-success alert-dismissible fade in">Изменения успешно сохранены!</div>');
                }
            }, 'json');

        });
    });
</script>
