<form id="add-form" data-parsley-validate class="form-horizontal form-label-left" 
      method="POST" action="{{ path('admin_payments_types_add') }}">

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
            Длительность <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ paymentType.term }} месяц(а/ев)
            <input type="hidden" name="term" value="{{ paymentType.term }}" />
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Тип перевозчика
        </label>

        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ paymentType.category.category.name }}: {{ paymentType.category.name }}
            <input type="hidden" name="category" value="{{ paymentType.category.id }}" />
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            Категория
        </label>

        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ paymentType.package.name }}
            <input type="hidden" name="package" value="{{ paymentType.package.id }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="value">
            Стоимость <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="value" name="value" required="required" class="form-control col-md-7 col-xs-12" value="{{ paymentType ? paymentType.value : '' }}"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-success">Сохранить</button>
        </div>
    </div>

    <div class="errors-list"></div>

    {% if paymentType and paymentType.id %}
        <input type="hidden" name="id" value="{{ paymentType.id }}" />
    {% endif %}

</form>

<script type="text/javascript">
    $(document).ready(function () {

        // ajax добавление региона
        $('#add-form').on('submit', function (event) {

            var errorsHolder = $(this).find('.errors-list');
            errorsHolder.html('');

            event.preventDefault();

            var form = $(this);

            $.post($(this).attr('action'), form.serialize(), function (data) {

                if (data.success == 0)
                {
                    for (var k in data.errors)
                    {
                        errorsHolder.append('<div class="alert alert-danger alert-dismissible fade in">' + data.errors[k] + '</div>');
                    }

                } else if (data.reload || true)
                {
                    var el = $('#{{ paymentType.category.aliase ~ '_' ~ paymentType.term ~ '_' ~ paymentType.package.id }}');
                    el.html(data.value + ' ' + '<a href="#" title="Редактировать" class="btn btn-info source edit" data-toggle="modal" data-target=".add-modal-lg"><i class="fa fa-edit"></i></a>');
                    form.parents('.modal').first().modal('hide');
                } else
                {
                    errorsHolder.append('<div class="alert alert-success alert-dismissible fade in">Изменения успешно сохранены!</div>');
                }
            }, 'json');

        });
    });
</script>
