{% extends 'base_admin.html.twig' %}


{% block filter %}

    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Фильтр
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    {% set currentFilterValues = request.get('filter') ? : {} %}

                    <div class="x_content">
                        <form class=" " method="get">
                            <div class="form-group col-md-4">
                                <label for="term">
                                    Длительность
                                </label>
                                <select class="form-control" name="filter[term]">
                                    <option value="all">Все</option>
                                    {% for i in [1,2,3,6,12] %}
                                        <option value="{{ i }}" 
                                                {{ currentFilterValues.term is defined and currentFilterValues.term == i ? 'selected' : '' }}>
                                            {{ i }} месяц(-а/-ев)
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="region">
                                    Тип перевозчика
                                </label>
                                <select class="form-control" name="filter[category]">
                                    <option value="all">Все</option>
                                    {% for cargo in cargoList %} 
                                        <option value="{{ cargo }}" {{ currentFilterValues.category is defined  and currentFilterValues.category == cargo ? 'selected' : '' }}>
                                            {{ cargo == 'cargo_over_6000' ? 'более' : 'до' }} {{ cargo|trim('cargo_over', 'left') }} кг.
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="region">
                                    Город
                                </label>
                                <select class="form-control" name="filter[city]">
                                    <option value="all">Все</option>
                                    {% for city in cities %} 
                                        <option value="{{ city.getId() }}" {{ currentFilterValues.city is defined  and currentFilterValues.city == city.getId() ? 'selected' : '' }}>
                                            {{ city.getName() }}
                                        </option>
                                    {% endfor %} 
                                </select>
                            </div>

                            <div class="form-group pull-right">
                                <input type="submit" class="btn btn-default" value="Фильтровать" />
                                <a href="{{ path('admin_payments_types_list') }}"  class="btn btn-info">
                                    Сбросить
                                </a>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block body %}

    <div class="">

        <div class="row">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Пакеты платежей
                        </h2>

                        <div class="navbar-right panel_toolbox">
                            <a href="#" class="btn btn-success source"  data-toggle="modal" data-target=".add-modal-lg">
                                Добавить
                            </a>
                            <a href="#" class="btn btn-danger source js-remove-type-trigger" data-toggle="modal" data-target=".remove-modal-lg" disabled="disabled">
                                Удалить
                            </a>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="regions-list-table" class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">
                                            Длительность
                                        </th>
                                        <th class="column-title">
                                            Тип перевозчика
                                        </th>
                                        <th class="column-title">
                                            Город
                                        </th>
                                        <th class="column-title">
                                            Стоимость
                                        </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Действия</span>
                                        </th>
                                        <th class="bulk-actions" colspan="5">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Действие над записями ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, paymentType in list %}
                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records" value="{{ paymentType.id }}" />
                                            </td>                                          
                                            <td class="">
                                                {{ paymentType.term }} месяц(-а/-ев)
                                            </td>
                                            <td class="">
                                                {{ paymentType.category == 'cargo_over_6000' ? 'более' : 'до' }} 
                                                {{ paymentType.category|trim('cargo_over', 'left') }} кг.
                                            </td>
                                            <td class="">
                                                {{ paymentType.city.getName() }}
                                            </td>
                                            <td class="">
                                                {{ paymentType.value }}
                                            </td>
                                            <td class=" last">
                                                {#  <a href="#" class="btn btn-info source "  data-toggle="modal" data-target=".add-modal-lg" data-type="{{ paymentType.id }}">
                                                      Редактировать
                                                  </a>#}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block modals %}

    <div class="modal fade add-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Добавить платежный пакет</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade remove-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удалить пакет(ы)</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите удалить выбранные платежные пакеты?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger js-remove" data-dismiss="modal">Удалить</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#regions-list-table');

            table.on('changeInput', function (event, count) {

                if (count)
                {
                    $('.js-remove-type-trigger').removeAttr('disabled');
                } else
                {
                    $('.js-remove-type-trigger').attr('disabled', 'disabled');
                }
            });

            // модальное окно формы добавления региона
            $('.add-modal-lg')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);

                        var href = '{{ path('admin_payments_types_add') }}';
                        if (button.data('type'))
                        {
                            href += '?id=' + button.data('region');
                        }

                        $(this).find('.modal-body').load(href);
                    })
                    .on('hidden.bs.modal', function (event) {
                        $(this).find('.modal-body').html('');
                    });

            // модальное окно формы для удаления регионов
            $('.remove-modal-lg').find('.js-remove')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);

                        var href = '{{ path('admin_payments_types_remove') }}';

                        var list = [];
                        $(".bulk_action input[name='table_records']:checked").each(function () {
                            list.push($(this).val());
                        });

                        if (list.length)
                        {
                            $.post(href, {list: list}, function (data) {
                                location.reload();
                            });
                        }
                    });
        });
    </script>

{% endblock %}

