{% extends 'base_admin.html.twig' %}


{% block filter %}
{% endblock %}


{% block body %}

    <div class="">

        <div class="row">

            <div class="clearfix"></div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Категории ТС
                        </h2>

                        <div class="navbar-right panel_toolbox">
                            <a href="#" class="btn btn-success source"  data-toggle="modal" data-target=".add-pp-modal-lg">
                                Добавить
                            </a>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="regions-list-table" class="table table-striped jambo_table">
                                <thead>
                                    <tr class="headings">

                                        <th class="column-title">
                                            #
                                        </th>
                                        <th class="column-title">
                                            Название
                                        </th>
                                        <th class="column-title">
                                            Действия
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, category in categories %}

                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">

                                            <td class="">
                                                {{ category.id }}
                                            </td>
                                            <td class="">
                                                {{ category.name }}
                                            </td>
                                            <td class=" last">
                                                <a href="#" title="Редактировать" class="btn btn-info source "  data-toggle="modal" data-target=".add-pp-modal-lg" data-type="{{ category.id }}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#" title="Удалить" class="btn btn-danger source "  data-toggle="modal" data-target=".remove-pp-modal-lg" data-type="{{ category.id }}">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="x_panel">
                    <div class="x_title">

                        <h2>
                            Виды ТС
                        </h2>

                        <div class="navbar-right panel_toolbox">
                            <a href="#" class="btn btn-success source"  data-toggle="modal" data-target=".add-modal-lg">
                                Добавить
                            </a>
                            <a href="#" class="btn btn-danger source js-remove-type-trigger" data-toggle="modal" data-target=".remove-pp-modal-lg" disabled="disabled">
                                Удалить
                            </a>
                        </div>

                        <div class="clearfix"></div>

                    </div>

                    <div class="x_content">

                        <div class="table-responsive">
                            <table id="package-list-table" class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">
                                            Название
                                        </th>
                                        <th class="column-title">
                                            Псевдоним
                                        </th>
                                        <th class="column-title">
                                            Категория
                                        </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Действия</span>
                                        </th>
                                        <th class="bulk-actions" colspan="3">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Действие над записями ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for num, type in types %}
                                        <tr class="{{ num % 2 == 0 ? 'even' : 'odd' }} pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records" value="{{ type.id }}" />
                                            </td>    
                                            <td class="">
                                                {{ type.name }}
                                            </td>
                                            <td class="">
                                                {{ type.aliase }}
                                            </td>
                                            <td class="">
                                                {{ type.category.name }}
                                            </td>
                                            <td class=" last">
                                                <a href="#" title="Редактировать" class="btn btn-info source "  data-toggle="modal" data-target=".add-modal-lg" data-type="{{ type.id }}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}

{% block modals %}

    <div class="modal fade add-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Добавить вид ТС</h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade add-pp-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Добавить категорию ТС
                    </h4>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade remove-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удалить ТС</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите удалить выбранные ТС?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger js-remove" data-dismiss="modal">Удалить</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade remove-pp-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Удалить категорию ТС</h4>
                </div>

                <div class="modal-body">
                    Вы точно хотите удалить выбранную категорию ТС?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger js-remove" data-dismiss="modal">Удалить</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('#package-list-table');

            table.on('changeInput', function (event, count) {

                if (count)
                {
                    $('.js-remove-type-trigger').removeAttr('disabled');
                } else
                {
                    $('.js-remove-type-trigger').attr('disabled', 'disabled');
                }
            });

            // модальное окно формы добавления региона
            $('.add-modal-lg')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);

                        var href = '{{ path('admin_car_type_add') }}';
                        if (button.data('type'))
                        {
                            href += '?id=' + button.data('type');
                        }

                        $(this).find('.modal-body').load(href);
                    })
                    .on('hidden.bs.modal', function (event) {
                        $(this).find('.modal-body').html('');
                    });

            $('.add-pp-modal-lg')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);

                        var href = '{{ path('admin_car_type_add_category') }}';
                        if (button.data('type'))
                        {
                            href += '?id=' + button.data('type');
                        }

                        $(this).find('.modal-body').load(href);
                    })
                    .on('hidden.bs.modal', function (event) {
                        $(this).find('.modal-body').html('');
                    });

            $('.remove-pp-modal-lg')
                    .on('show.bs.modal', function (event) {

                        var button = $(event.relatedTarget);
                        if (button.data('type')) {
                            $(this).data('type', button.data('type'));
                        }
                    })
                    .find('.js-remove')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var modal = $(this).parents('.modal').first();
                        var href = '{{ path('admin_car_type_remove_category') }}';

                        $.post(href, {id: modal.data('type')}, function (data) {
                            location.reload();
                        });
                    });

            // модальное окно формы для удаления регионов
            $('.remove-modal-lg').find('.js-remove')
                    .on('click', function (event) {

                        event.preventDefault();
                        event.stopPropagation();

                        var button = $(this);

                        var href = '{{ path('admin_car_type_remove') }}';

                        var list = [];
                        $(".bulk_action input[name='table_records']:checked").each(function () {
                            list.push($(this).val());
                        });

                        if (list.length)
                        {
                            $.post(href, {list: list}, function (data) {
                                location.reload();
                            });
                        }
                    });
        });
    </script>

{% endblock %}

